.confetti-burst {
  position: fixed;
  inset: 0;
  z-index: 9999;
  pointer-events: none;
}

.confetti-particle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: var(--size);
  height: var(--size);
  background: var(--color);
  border-radius: 2px;
  transform: translate(-50%, -50%);
  animation: confettiFly var(--duration) ease-out var(--delay) forwards;
  opacity: 1;
}

.confetti-particle:nth-child(odd) {
  border-radius: 50%;
}

@keyframes confettiFly {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translate(calc(-50% + var(--x)), calc(-50% + var(--y))) rotate(var(--rotation));
    opacity: 0;
  }
}
